body{
    background-color: black;
    color: white;
    margin: 0px;
}

header{ 
    border-bottom: solid 2px rgb(255, 255, 254);
    padding: 20px;
    font-size: 52px;
}

section{
    background: rgb(202, 77, 181);
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.chamada-texto{ 
    margin-right: 20px;
}